%h4
  Users created per day
= line_chart charts_users_per_day_path

%h4
  Enrollments created per day
= column_chart charts_enrollments_per_day_path

%h4
  Course popularity
= bar_chart charts_course_popularity_path

%h4
  Money makers
= bar_chart charts_money_makers_path
